<div class="container">
  <div class="row">
    <div class="col">

    </div>

    <div class="col-12">
      <hr class="rounded">
      <h3> Toute l'actualité automobile</h3>
      <hr class="rounded" style="width: 31%;margin-left: 0%;"> 
      <p style="">Retrouvez ici toutes les actualités automobile .</p>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">HYUNDAI ouvre un nouveau chapitre de son histoire avec le SUV 100% électrique Ioniq 5 .<span class="" style="color: orange;"> Nouveauté mondiale!</span></h2>
            <p class="lead">HYUNDAI a dévoilé récemment son troisième véhicule « zéro émission » après l’Ioniq et le Kona, le crossover compact Ioniq 5. C’est néanmoins le premier véhicule 100% électrique de la marque. Et c’est aussi le premier modèle du label Ioniq, lancé récemment.</p>
            <h6><span class="text-muted">16 fév 2021 - 16h01 </span></h6>
          </div>
          <div class="col-md-5">
             <img src="https://www.wandaloo.com/files/2021/03/HYUNDAI-IONIQ-5-REVEAL-SUV-COMPACT-ZERO-EMISSION-2021-UNE.jpg" style="width: 100%;">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">HYUNDAI a présenté le SUV urbain Bayon .<span class="" style="color: orange;"> Nouveauté mondiale!</span></h2>
            <p class="lead">HYUNDAI a récemment étoffé son offre sur le segment B avec le lancement du Bayon, un crossover urbain de 4,18 m de long, très proche du Kona en matière de style, mais au positionnement plus familial. Il serait davantage taillé pour le marché européen que son frangin.</p>
            <h6><span class="text-muted">01 mars 2021 - 20h53 </span></h6>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="https://www.wandaloo.com/files/2021/03/HYUNDAI-BAYON-SUV-URBAIN-REVEAL-2021.jpg" style="width: 100%;">
          
          </div>
        </div>
    
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Le MERCEDES Classe E Coupé « facelift » entame sa carrière sur notre marché  .<span class="" style="color: orange;"> Nouveauté mondiale!</span></h2>
            <p class="lead">Moins de deux mois après l’arrivée de la version restylée de la MERCEDES Classe E dans les concessions d’Auto Nejma, importateur exclusif de la marque à l’Etoile au Maroc, c’est au tour de sa très racée déclinaison Coupé d'y faire admirer ses nouveaux atours. Prêts à en prendre plein les mirettes ?</p>
            <h6><span class="text-muted">01 mars 2021 - 20h41 </span></h6>
          </div>
          <div class="col-md-5">
             <img src="https://www.wandaloo.com/files/2021/03/Nouveau-Mercedes-Benz-Classe-E-Coupe-2020-Neuve-Maroc.jpg" style="width: 100%;">
          </div>
        </div>
    
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">FORD lève un coin du voile sur le démentiel F150 Raptor 2021 .<span class="" style="color: orange;"> Nouveauté mondiale!</span></h2>
            <p class="lead">Peu de temps après avoir révélé la quatorzième génération de son pick-up iconique, le F150, deuxième véhicule le plus vendu de l’histoire – après la Toy’ Corolla -, FORD a présenté en avant-première sa variante épique(-up), le F150 Raptor. Détails.</p>
            <h6><span class="text-muted">16 fév 2021 - 16h01 </span></h6>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="https://www.wandaloo.com/files/2021/02/FORD-F150-RAPTOR-2021-AVANT-PREMIERE-NOUVELLE-GENERATION-PICK-UP-C.jpg" style="width: 100%;">
          
          </div>
        </div>
    
        <hr class="featurette-divider">


    </div>
    <div class="col">

    </div>
  </div>
</div>
