
<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-3">
      <pre *ngIf="version">

      <!-- {{version | json}}--> 
    
        <div class="cell c6" >
          <h1 style="color: rgb(5, 5, 138);">{{version.name}}</h1>
          <hr class="rounded">
          <h5 class="titre">Fiche technique</h5>
          <hr style="width: 60%; margin-left: 0%;">
          <ul>
            <li>
              <p class="p">Moteur</p>
              <p class="v">{{version.moteur}}</p>
            </li>
            <li>
              <p class="p">Prix</p>
              <p class="v" style="color: blue;">{{version.prix}}-DH</p>
            </li>
            <li>
              <p class="p">Puiss. fiscale</p>
              <p class="v">{{version.puissancefiscale}}</p>
            </li>
            <li>
              <p class="p">Puiss. maxi.</p>
              <p class="v">{{version.Puissancemaxi}}</p>
            </li>
            <li>
              <p class="p">Couple maxi.</p>
              <p class="v">{{version.coupleMaxi}}</p>
            </li>
            <li>
              <p class="p">Boîte à vitesse</p>
              <p class="v">{{version.boiteAvitesse}}</p>
            </li>
            <li>
              <p class="p">Palettes volant</p>
              <p class="v">{{version.palettesAuvolant}}</p>
            </li>
            <li>
              <p class="p">Conso. ville</p>
              <p class="v">{{version.consVille}}</p>
            </li>
            <li>
              <p class="p">Conso. route</p>
              <p class="v">{{version.consRoute}}</p>
            </li>
            <li>
              <p class="p">Conso. mixte</p>
              <p class="v">{{version.consRoute}}</p>
            </li>
            <li>
              <p class="p">Emission CO2</p>
              <p class="v">{{version.emissionCO2}}</p>
            </li>
            <li>
              <p class="p">Vitesse maxi.</p>
              <p class="v">{{version.vitessemaxi}}</p>
            </li>
            <li>
              <p class="p">0-100 km/h</p>
              <p class="v">{{version.acceleration}}</p>
            </li>
            <li>
              <p class="p">Réservoir</p>
              <p class="v">{{version.volumedureservoir}}</p>
            </li>
            <li>
              <p class="p">Coffre</p>
              <p class="v">{{version.volumedecoffre}}</p>
            </li>
          </ul>
          </div>
    
    </pre>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
